* {
  transition: 0.3s;
}

body {
  background-color: #424242;
}

h1 {
  color: #ABABAB;
  padding: 13px 10px;
  border-width: 5px;
  border-radius: 29px;
  border-style: solid;
  border-color: #13B3DF;
  font-family: 'Verdana', sans-serif;
  width: 40%;
  min-width: max-content;
  display: block;
  font-size: 38px;
  font-weight: bold;
  cursor: default;
}

h1:hover {
  color: #F4F4F4;
}

textarea { 
  cursor: auto;
  resize: none;
  background-color: #424242;
  color : #F4F4F4;
  border: none;
  font-family: 'Verdana', sans-serif;
  font-size: 18px;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0;
}

textarea::-webkit-scrollbar {
  width: 15px;
  background-color: #ABABAB; 
  border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #373737; 
  border-radius: 3px;
}

textarea::placeholder {
  color: #ABABAB;
  text-align: center;
}

.textBoxO {
  margin-right: 5%; 
  border: 3px solid #ABABAB;
}

.textBoxO:focus-within {
  border: 3px solid #13B3DF;
}

.textBoxP {
  margin-left: 5%;
  border: 3px solid #373737;
}

.Percent {
  display: inline-block;
  color: #424242;
  font-family: 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  padding: 12px;
  margin-bottom: 20px;
  width: 10vh;
  height: 7vh;
  box-sizing: border-box;
  outline: 0;
  border: 3px solid #ABABAB;
}

.Percent > input {
  text-align: center;
}

.Percent:focus-within {
  border: 3px solid #13B3DF;
}

[type="number"] {
  cursor: auto;
  resize: none;
  background-color: #424242;
  color : #F4F4F4;
  border: none;
  font-family: 'Verdana', sans-serif;
  font-size: 18px;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.boutonParaphrase {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

[type="submit"] {
  font-family: 'Verdana', sans-serif;
  background: #373737;
  border: 0;
  cursor: pointer;
  color: #F4F4F4;
  font-size: 24px;
  padding: 0.2em 0.5em;
  margin-top: 10px;
  font-weight: 600;
  width: auto;
  height: 200%;
  border-radius: 20px;
}

[type="submit"]:hover:enabled {
  background: #13B3DF;
}

[type="submit"]:disabled {
  cursor: not-allowed;
  background: #DB3E4F;
}

.loading {
  visibility: hidden;
  position: absolute;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  color: #F4F4F4;
  background: #373737;
  opacity: 0;
  margin-top: 60px;
}

#startParaphrase:disabled:hover + .loading {
  visibility: visible;
  opacity: 1;
}

.textForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width : 80%;
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0 !important;
  background-color: transparent;
}

@media (max-width: 1080px) {
  .textForm {
    flex-direction: column; 
  }
  .textBoxO {
    margin-bottom: 5%; 
    margin-right: 0; 
  }
  .textBoxP {
    margin-top: 5%;
    margin-left: 0;
  }
  .textContainer {
    width: 100% !important;
  }
}

.textContainer {
  display: flex;
  color: #424242;
  font-family: 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  padding: 13px;
  width: 40%;
  box-sizing: border-box;
  outline: 0;
  height: 45vh;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  color : #F4F4F4;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Courier New';
  text-align: right;
  font-size: 14px;
  margin-top : 30px;
}

.footerDyna {
  display: inline-block;
  cursor: default;
}

.footerDyna:hover {
  color: #13B3DF;
}
